* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

/*Navigation styles START*/

.main-logo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin: 1.4rem 0 1.4rem 4.5rem;
}

.user-circle {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13vh;
}

.main-nav ul {
  display: flex;
  margin-right: 2rem;
}

.nav-li {
  list-style-type: none;
}

.nav-li a {
  font-size: 0.8rem;
  color: black;
  padding: 0.4rem;
  margin: 1.1rem;
  border: 1.5px solid transparent;
  border-radius: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.8px;
}

.a-svg-icon {
  font-size: 0.8rem;
  color: black;
  margin-right: 4.5rem;
  padding-left: 0;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.nav-li a:hover {
  text-shadow: 0.2px 0.2px black;
  border: 1.5px solid black;
  transition: all 0.4s ease 0s;
}

.a-svg-icon:hover {
  text-shadow: 0.2px 0.2px black;
  transition: all 0.4s ease 0s;
}

/*NAVIGATION END*/
.background-img {
  position: relative;
  top: 0;
  width: 100%;
  height: 87vh;
  background-image: url(img/background-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hTags {
  position: absolute;
  top: 15%;
  left: 10%;
  text-align: left;
}

.hTags h1 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.hTags h2 {
  font-size: 1.7rem;
  margin: 0.7rem 0;
  font-weight: 400;
}

.hTags h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 4rem 0 1.5rem 0;
}

.hTags button {
  font-size: 1rem;
  background-color: #f7f7f7;
  letter-spacing: 1px;
  padding: 0.6rem 1.4rem;
  border-radius: 6px;
}

/*Main START*/

div.main-note {
  margin: 2rem 30% 0.5rem 40%;
  height: 10vh;
}

div.main-note h1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

div.main-note i {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 1rem;
  vertical-align: middle;
}

div.main-note p {
  display: inline-block;
  font-size: 1.1rem;
  vertical-align: middle;
  margin-left: 2px;
}

/*Slider div styling*/
.slider-big-container {
  width: 100%;
  height: 86vh;
  overflow: hidden;
}

.slider-container {
  height: 100%;
  display: inline-flex;
  overflow: hidden;
  transform: translate(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  user-select: none;
}

.slide img {
  transform: scale(1, 1.2);
  min-width: 100%;
  min-height: 100%;
  transition: transform 0.3s ease-in-out;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide {
  opacity: 0.9;
}

.slide a {
  z-index: 1;
  position: absolute;
  margin: 1.5rem;
  font-size: 1.5rem;
  padding: 0.8rem 0.9rem;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 22px;
  transition: 0.2s;
}

.slide a:hover {
  background-color: rgba(255, 255, 255, 0.212);
}

.hamburger {
  display: none;
  font-size: 1.4rem;
  background-color: none;
}

@media screen and (max-width: 760px) {
  .hamburger {
    position: absolute;
    display: block;
    left: 47%;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .main-nav {
    position: absolute;
    width: 100vw;
    top: 6.5rem;
    left: 0;
    z-index: 1;
    background-color: #f7f7f7;
  }

  .main-nav ul {
    display: none;
    flex-direction: column;
  }

  .main-nav ul.active {
    display: flex;
  }

  .main-nav ul li {
    margin: 1.5rem 0;
    text-align: center;
  }
}

/*Contact form section*/
section.contact {
  display: flex;
  justify-content: space-around;
  text-align: flex-start;
  margin: 2rem 0;
}

section div.contact-text h1 {
  margin-top: 1rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

section div.contact-text h2 {
  font-size: 1.4rem;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  letter-spacing: 1px;
}

section div#frmContact {
  font-size: 1rem;
}

#frmContact {
  border-top: #f0f0f0 2px solid;
  background: #faf8f8;
  padding: 10px;
}
#frmContact div {
  margin-bottom: 15px;
}
#frmContact div label {
  margin-left: 5px;
}
.demoInputBox {
  padding: 10px;
  border: #f0f0f0 1px solid;
  border-radius: 4px;
}
.error {
  background-color: #ff6600;
  border: #aa4502 1px solid;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 4px;
}
.success {
  background-color: #12cc1a;
  border: #0fa015 1px solid;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 4px;
}
.info {
  font-size: 0.8em;
  color: #ff6600;
  letter-spacing: 2px;
  padding-left: 5px;
}
.btnAction {
  background-color: #2fc332;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  border: #f0f0f0 1px solid;
  border-radius: 4px;
}

.btnAction:hover{
  border: 1px solid #000;
}
